
.logo {line-height: 0;}
.avatar {
  height: 250px;
  display: block;
  max-width: 100%;
      margin: 0 auto 20px;
  clip-path: circle(95px at center 100px);
  -webkit-clip-path: circle(95px at center 100px);
  -moz-clip-path: circle(95px at center 100px);
}
// img { mix-blend-mode: multiply; }
.img-centered {
    margin: 0 auto;
}
